@model VetClinic.Common.Entities.Hospital

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Удаление госпиталя</h1>

<h3 class="text-center">Вы точно хотите это удалить?</h3>
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.InventoryNumber)</h4>
                <p class="card-text">@Html.DisplayFor(model => model.InventoryNumber)</p>
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Type)</h4>
                <p class="card-text">@Html.DisplayFor(model => model.Type)</p>
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Lenght)</h4>
                <p class="card-text">@Html.DisplayFor(model => model.Lenght)</p>
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Width)</h4>
                <p class="card-text">@Html.DisplayFor(model => model.Width)</p>
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Height)</h4>
                <p class="card-text">@Html.DisplayFor(model => model.Height)</p>
                <form asp-action="Delete" class="text-center">
                    <button type="submit" class="btn btn-danger btn-lg mt-3">Удалить</button>
                    <br />
                    <input type="hidden" asp-for="Id" />
                    <a asp-action="Index" class="btn btn-secondary btn-lg mt-3">Вернуться к списку госпиталей</a>
                </form>
            </div>
        </div>
    </div>
</div>

@*<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hospital</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lenght)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lenght)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
*@