@model VetClinic.Common.Entities.Animal

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Удаление питомца</h1>

<h3 class="text-center">Вы точно хотите это удалить?</h3>
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mb-4">
            <img src="@Model.PhotoPath" class="card-img-top" alt="Фото питомца" style="max-height: 300px;">
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Name)</h4>
                <p class="card-text">@Html.DisplayFor(model => model.Name)</p>
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Sex)</h4>
                <p class="card-text">@(Model.Sex ? "Мужской" : "Женский")</p>
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Breed)</h4>
                <p class="card-text">@Html.DisplayFor(model => model.Breed)</p>
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Color)</h4>
                <p class="card-text">@Html.DisplayFor(model => model.Color)</p>
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Weight)</h4>
                <p class="card-text">@Html.DisplayFor(model => model.Weight)</p>
                <h4 class="card-title">@Html.DisplayNameFor(model => model.DateOfBirth)</h4>
                <p class="card-text">@Html.DisplayFor(model => model.DateOfBirth)</p>
                <h4 class="card-title">@Html.DisplayName("Владельцы")</h4>
                <p class="card-text">
                    @foreach (var owner in Model.Owners)
                    {
                        @owner.Surname @owner.Name @owner.Patronymic
                        <br />
                    }
                </p>
                <form asp-action="Delete" class="text-center">
                    <button type="submit" class="btn btn-danger btn-lg mt-3">Удалить</button>
                    <input type="hidden" asp-for="Id" />
                    <a asp-action="Index" class="btn btn-secondary btn-lg mt-3">Вернуться к списку питомцев</a>

                </form>
            </div>
        </div>
    </div>
</div>