@model VetClinic.Common.Entities.Animal

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title mb-0">Детальная информация</h3>
                </div>
                <div class="card-body">
                    <div class="row mb-4 border-bottom">
                        <div class="col-sm-4 fw-bold">Кличка:</div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.Name)</div>
                    </div>
                    <div class="row mb-4 border-bottom">
                        <div class="col-sm-4 fw-bold">Фото питомца:</div>
                        <div class="col-sm-5 text-center">
                            <img class="img-fluid rounded" src="@Model.PhotoPath" alt="Фото питомца" style="max-width: 300px;">
                        </div>
                    </div>
                    <div class="row mb-4 border-bottom">
                        <div class="col-sm-4 fw-bold">Пол:</div>
                        <div class="col-sm-8">@(Model.Sex ? "Мужской" : "Женский")</div>
                    </div>
                    <div class="row mb-4 border-bottom">
                        <div class="col-sm-4 fw-bold">Порода:</div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.Breed)</div>
                    </div>
                    <div class="row mb-4 border-bottom">
                        <div class="col-sm-4 fw-bold">Цвет:</div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.Color)</div>
                    </div>
                    <div class="row mb-4 border-bottom">
                        <div class="col-sm-4 fw-bold">Вес:</div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.Weight)</div>
                    </div>
                    <div class="row mb-4 border-bottom">
                        <div class="col-sm-4 fw-bold">Дата рождения:</div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.DateOfBirth)</div>
                    </div>
                    <div class="row mb-4 border-bottom">
                        <div class="col-sm-4 fw-bold">Владельцы:</div>
                        <div class="col-sm-8">
                            @foreach (var owner in Model.Owners)
                            {
                                @owner.Name @owner.Surname @owner.Patronymic
                                <br />
                            }
                        </div>
                    </div>
                    <div class="row mb-4 border-bottom">
                        <div class="col-sm-4 fw-bold">Статус:</div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.Status)</div>
                    </div>
                    <div class="row mt-4 justify-content-center">
                        <div class="col-sm-12 text-center">
                            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning mb-3">Изменить</a>
                            <br />
                            <a asp-action="Index" class="btn btn-primary">Вернуться к списку питомцев</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>