@model IEnumerable<VetClinic.Common.Entities.Hospital>

@{
    ViewData["Title"] = "Стационары";
}

<h1>Выберите стационар</h1>

<form asp-action="ChooseHospital">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.InventoryNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lenght)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Width)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Height)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lenght)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Width)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Height)
                    </td>
                    <td>
                        <input type="hidden" name="hospitalId" value="@item.Id" />
                        <div class="form-group">
                            <input type="submit" value="Выбрать" class="btn btn-primary" />
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>