@model IEnumerable<VetClinic.Common.Entities.Reception>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid mt-5">
    <h1 class="text-center mb-4">Записи на прием</h1>
    <div class="row">
        <div class="col-md-12 col-lg-6 mb-4 mb-lg-0">
            <a asp-action="ChooseOwner" class="btn btn-success">Создать новую запись</a>
        </div>
    </div>
    <div class="table-responsive mt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.TreatmentState)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Description)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Date)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Price)</th>
                    <th scope="col">@Html.DisplayName("Врач")</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TreatmentState</td>
                        <td>@item.Description</td>
                        <td>@item.Date</td>
                        <td>@item.Price</td>
                        <td>@Html.DisplayFor(modelItem => item.Employee.Name) @Html.DisplayFor(modelItem => item.Employee.Surname) @Html.DisplayFor(modelItem => item.Employee.Patronymic)</td>
                        <td>
                            <a asp-action="CheckTreatmentState" asp-route-receptionId="@item.Id" class="btn btn-primary btn-sm me-2">Вынести вердикт</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm me-2">Подробнее</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@*<p>
    <a asp-action="ChooseOwner">Создать запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayName("Врач")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TreatmentState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name) @Html.DisplayFor(modelItem => item.Employee.Surname) @Html.DisplayFor(modelItem => item.Employee.Patronymic)
            </td>
            <td>

                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подобронее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
